{% extends 'base.html.twig' %}

{% block category %}category #{{ category.id }}{% endblock %}

{% block body %}
    {% for categories in categories %}
        <div>
            <h1 class="mt-0">{{ loop.index }} / {{ program.title }}</h1>
            <p>{{ program.summary }}</p>
            <p>Catégorie : {{ program.category.name }}</p>
            <a href="{{ path("category_show", { id: category.id }) }}">Voir la fiche</a>
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}
    
    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>
{% endblock %}
