{% extends 'base.html.twig' %}

{% block title %}Saison{% endblock %}

{% block body %}
    <h1>Saison</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id </th>
                <td>{{ season.id }}</td>
            </tr><br>
            <tr>
                <th> Nombre</th>
                <td>{{ season.number }}</td>
            </tr><br>
            <tr>
                <th> Année </th>
                <td>{{ season.year }}</td>
            </tr><br>
            <tr>
                <th> Description</th>
                <td>{{ season.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('season_index') }}">retour a la liste</a>

    <a href="{{ path('season_edit', {'id': season.id}) }}">Editer</a>

    {{ include('season/_delete_form.html.twig') }}
{% endblock %}
