{% extends 'base.html.twig' %}

{% block title %}Toutes les series{% endblock %}

{% block body %}
    <h1>Toutes les series</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Synopsis</th>
                <th>Poster</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for program in programs %}
            <tr>
                <td>{{ program.id }}</td>
                <td>{{ program.title }}</td>
                <td>{{ program.synopsis }}</td>
                <td><img src="{{program.poster}}" alt="{{ program.title }} poster"></td>
                <td>
                    <a href="{{ path('program_show', {'id': program.id}) }}">Plus</a>
                    <a href="{{ path('program_edit', {'id': program.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Pas de series trouvées</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('program_new') }}">Ajouter une nouvelle serie</a>
{% endblock %}
